# Environment variables
.env

# Claude
.claude

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.venv/
/py_quick_test/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


# Added by cargo

/target
Screenshot*.png
